:root {
  //--color-text-400: #001341;
  --color-text-400: #2d2a24;
  --color-text-300: #5f5646;

  --color-grayscale-500: rgb(223, 210, 191);
  --color-grayscale-400: rgb(233, 222, 208);

  --color-beige-700: rgb(223, 209, 188);
  --color-beige-600: rgb(233, 222, 208);
  --color-beige-500: rgb(241, 229, 213);
  --color-beige-400: #f5efe6;

  --color-background-400: #f5efe6;

  --color-black-400: #2d2a24;

  --color-gray-500: #67727c;
  --color-gray-400: #a9b0b7;

  --color-orange-400: #ff8400;

  --color-white-400: #ffffff;

  --color-cyan-500: #0086bb;
  --color-cyan-400: rgb(52, 191, 255);

  --color-text-cyan-400: #e1f5ff;
  --color-text-cyan-300: #81bdd8;

  --color-dark-blue-600: #234ba2;
  --color-dark-blue-500: #052e87;
  --color-dark-blue-400: #002474;

  --color-hologram-top: rgb(0, 53, 133);
  --color-hologram-bottom: rgba(0, 82, 145, 0.6);
}
