@use "sass:map";
@use "sass:math";

$breakpoints: (
  "sm": (
    width: 480px,
  ),
  "md": (
    width: 840px,
  ),
  "lg": (
    width: 1024px,
  ),
  "xl": (
    width: 1280px,
  ),
  "xxl": (
    width: 1600px,
  ),
  "xxxl": (
    width: 1920px,
  ),
) !default;

$media-direction: min;

@mixin mq($mq, $direction: $media-direction, $dimension: "width") {
  @if map.has-key($breakpoints, $mq) {
    $breakpoint: map.get($breakpoints, $mq);
    $value: map.get($breakpoint, $dimension);

    @media (#{$direction}-#{$dimension}: $value) {
      @content;
    }
  } @else if math.is-unitless($mq) {
    $mq: $mq + 0px;

    @media (#{$direction}-#{$dimension}: $mq) {
      @content;
    }
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin landscape-large {
  @media (orientation: landscape) and (min-height: 480px) {
    @content;
  }
}
