.project-cubewar {
  --color-text-400: rgb(255, 255, 255);
  --color-text-300: rgb(195, 204, 219);

  --color-accent-400: #008dff;
  --color-accent-text-400: white;

  --color-hover: #060f1f;

  --color-grayscale-500: #2b4169;
  --color-grayscale-400: #2b4169;

  --color-background-400: #364e7c;
  --color-background-300: #1c2f4f;
}

.project-quibbo {
  --color-text-400: rgb(20, 29, 37);
  --color-text-300: rgb(72, 85, 97);

  --color-accent-400: rgb(31, 129, 249);
  --color-accent-text-400: white;

  --color-hover: rgb(20, 29, 37);

  --color-grayscale-500: rgb(226, 233, 238);
  --color-grayscale-400: rgb(226, 233, 238);

  --color-background-400: rgb(243, 247, 250);
  --color-background-300: white;
}

.project-particles {
  --color-text-400: white;
  --color-text-300: rgb(149, 155, 150);

  --color-accent-400: #22904b;
  --color-accent-text-400: white;

  --color-hover: #000000;

  --color-grayscale-500: #2c2f2c;
  --color-grayscale-400: #2c2f2c;

  --color-background-400: #191c19;
  --color-background-300: #141614;
}

.project-pokedex {
  --color-text-400: #0c1b3a;
  --color-text-300: rgb(105, 111, 116);

  --color-hover: #011030;
  --color-hover-text: #ffffff;

  --color-accent-400: #ff5350;
  --color-accent-text-400: white;

  --color-grayscale-500: #d9dde7;
  --color-grayscale-400: #d9dde7;

  --color-background-400: #e9edf6;
  --color-background-300: #f9fbfe;
}

.project-sharkie {
  --color-text-400: #ffffff;
  --color-text-300: #c6d2f2;

  --color-hover: #00173f;
  --color-hover-text: #ffffff;

  --color-accent-400: #176cfe;
  --color-accent-text-400: white;

  --color-grayscale-500: #364f94;
  --color-grayscale-400: #263e82;

  --color-background-400: #263e82;
  --color-background-300: rgb(22, 41, 94);
}

.project-streakon {
  --color-text-400: #ffffff;
  --color-text-300: rgb(197, 197, 197);

  --color-hover: rgb(41, 41, 41);
  --color-hover-text: #ffffff;

  --color-accent-400: #fec600;
  --color-accent-text-400: rgb(44, 44, 44);

  --color-grayscale-500: rgb(25, 25, 25);
  --color-grayscale-400: rgb(33, 33, 33);

  --color-background-400: #141414;
  --color-background-300: #090909;
}
